body {
    font-family: "Open Sans", sans-serif;
}

h1, h3 {
    font-family: "Open Sans", sans-serif;
}

h2 {
    color: #29aec6;
}

header h2 {
    color: #d17db1;
}

footer {
    background-image: linear-gradient(#ecadd1,white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1615919737249-965d68c7e439?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cm9zZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=1400&q=60);
    background-size: cover;
    padding: 30px;
    color: rgb(248, 5, 130);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: rgb(197, 98, 149);
}